<div class="bg-gray-800 rounded-xl shadow-2xl p-6 mt-2 mb-10 md:mb-0 border border-cyan-400">
  <h5 class="bg-gradient-to-r from-pink-500 via-cyan-400 to-pink-500 text-gray-900 font-semibold text-xl px-5 py-3 rounded-t-lg mb-4" style="font-family: 'Orbitron', Arial, sans-serif;">
    Chi siamo
  </h5>
  <div>
    <p class="text-gray-200 leading-relaxed mb-4 break-words">
      Questo fantastico blog è realizzato con il nostro framework full-stack preferito, Django!(Con l'aiuto di.......)
    </p>
    <a href="https://devnowcode.github.io/sc/"
       class="btn-gaming">
       Scopri di più!
    </a>
  </div>
</div>